body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #232526;
    color: #fff;
    line-height: 1.6;
}

h1 {
    background-color: #f5576c;
    color: white;
    text-align: center;
}

h2 {
    color: #f5576c;
    border-bottom: 3px solid #f5576c;
}

h3 {
    color: #4facfe;
}

p {
    font-size: 1.1rem;
    color: #ddd;
}

ul {
    list-style: square;
    background-color: #3a3a3a;
}

ol {
    background-color: #3a3a3a;
}

img {
    width: 50%;
    border: 3px solid #f5576c;
}

a {
    color: #4facfe;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #f5576c;
    text-decoration: underline;
}
